<% if @user.valid? %>
  $('#form').empty();
  $('#cocktails').empty()
  $('#greeting').append('<li id="congrats">Congratulations, you have successfully created a new Mixr account!</li>');
  $('#greeting').fadeOut(5000);
  $('#login_btn').fadeIn(5000);
<% else %>
  $('#form').empty().append('<%=j render(:partial => 'form') %>');
  $('#cocktails').empty()
<% end %>