<% if @user.valid? %>
  $('#form').empty();
  $('#greeting').append('<li id="congrats">Congratulations, you have successfully created a new Mixr account!</li>');
  $('#greeting').fadeOut(8000);
  $('#login').fadeIn(8000);
<% else %>
  $('#form').empty().append('<%=j render(:partial => 'form') %>');
<% end %>