- if object.errors.any?
  %p
    %em= "Your registration failed due to:  #{pluralize(object.errors.count, 'error')}"
  %ol
    - object.errors.full_messages.each do |msg|
      %li
        .label.alert.round= msg
