#anonymous
  #reg_btn
    = link_to('Register', new_user_path, :remote => true, :class => 'button radius')
  #login_btn
    = link_to("Login", login_path, :remote => true, :class => 'button radius')
#form
#subscriptions
