body
{
  background: url('/assets/background.jpg');
  background: stretch;
}

#logout_btn
{
  margin-right: 5px;
}

#cocktail_btn
{
  float: center;
}

#reg_btn, #mixin_btn, #new_btn, #cocktails_btn
{
  float: left;
}

#cancel_btn, #show_btn, #add_ingredient_btn, #login_btn
{
  float: right;
}

fieldset
{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  opacity: .9;
}

#greeting
{
  color: white;
  font-weight: bold;
}

#congrats
{
  padding-left: 10px;
}

li
{
  list-style: none;
}

li#errors
{
  list-style: decimal;
}

#center_form
{
margin-left: 300px;
}

#cocktails
{
  display: inline;
}