<footer id="footer">
  <div class="row" id="foot">
    <hr />
    <div class="large-6 columns">
      <p>&copy; 2013 by I Need A Drink. No Reservations</p>
    </div>
    <div class="large-6 columns">
   </div>
 </div>
</footer>